NEXT_PUBLIC_SUPABASE_URL=https://jrbkojhnltqfqwpczwuw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
CRON_SECRET=
DATABASE_URL=
NEXT_PUBLIC_CORE_URL=http://localhost:3000
NEXT_PUBLIC_APP_URL=http://localhost:3000
LEXGESTOR_TOKEN_SECRET=
DROPBOX_APP_KEY=
DROPBOX_APP_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
